<nav class="header-nav">
    <div class='header-container'>
        <ul class="header-user">
            <li>
                <a class="button button-rose" th:href="@{/logout}">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
            </li>
            <li class="header-information">
                <p>Nombre: <span class="header-name" th:text="${user.getNombre()}"></span> <span class="header-name" th:text="${user.getApellido()}"></span></p>
                <p>Email: <span class="header-email" th:text="${user.getEmail()}"></span></p>
            </li>
        </ul>
        <ul class="header-action">
            <li th:if="${user.getRol().toString() == 'ROLE_ADMIN'}">
                <a href="/create-company"  class="button button-black">Crear Empresa</a>
            </li>
            <li th:if="${user.getRol().toString() == 'ROLE_ADMIN'}">
                <a href="/create-user"  class="button button-black">Crear Usuario</a>
            </li>
            <li th:if="${user.getRol().toString() == 'ROLE_GESTOR'}">
                <a href="/create-product" class="button button-black">Crear Producto</a>
            </li>
        </ul>
    </div>
</nav>