input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-submit {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.fields input[type="password"],
.fields input[type="email"],
.form input[type="text"],
.form input[type="file"],
.form input[type="submit"] {
    inline-size: 100%;
}

.field {
    display: flex;
    flex-direction: column;
}

.field-content {
    display: flex;
}

.name-logo {
    display: flex;
    justify-content: flex-end;
    margin-top: .5rem;
    color: #ff0081;
}

.label {
    display: flex;
    justify-content: center;
    color: #777c81;
    width: 10%;
}

.input {
    flex: 1;
}

.textarea {
    border: none;
    color: #FFFFFF;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #eee;
    width: 95%;
}

@media (min-width: 1024px) {
    .fields {
        width: 50%;
    }

}

.fields label,
.fields input[type="password"],
.fields input[type="email"],
.fields input[type="text"],
.fields input[type="file"],
.fields input[type="submit"],
.textarea,
.select {
    border-radius: 0.25rem;
    padding: 1rem;
}

.fields label {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-inline: 1.25rem;
}

.fields input[type="password"],
.fields input[type="email"],
.fields input[type="text"],
.fields input[type="file"],
.textarea,
.select {
    background-color: #3b4148;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.fields input[type="password"]:focus,
.fields input[type="password"]:hover,
.fields input[type="email"]:focus,
.fields input[type="email"]:hover,
.fields input[type="file"]:focus,
.fields input[type="file"]:hover,
.fields input[type="text"]:hover,
.fields input[type="text"]:focus,
.textarea:hover,
.textarea:focus,
.select:hover,
.select:focus {
    background-color: #434a52;
    outline: none;
}

input[type="submit"] {
    background-color: #ff0081;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: .3rem;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
    background-color: #d3016b;
}

.errors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
}

.error {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: #c00101;
    border-radius: 0.25rem;
}

