<div class="home-card">
    <div class="card-head">
        <p class="card-cuit">Codigo: <span class="card-span">44418373</span></p>
        <div class="card-name">
            <h3>Windows 11</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="card-description">
            <p>Un producto sumamente interesante para el uso del sistema operativo</p>
        </div>
        <div class="card-action">
            <button class="card-edit"><i class="fa-solid fa-pen"></i></button>
            <button class="card-delete"><i class="fa-solid fa-trash"></i></button>
        </div>
        <p class="card-state">ACTIVO</p>
    </div>
</div>