/* HEADER HOME */
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}
.header-nav {
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;
}
@media (min-width: 1024px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .header-nav {
        position: fixed;
    }
}
.header-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
}
.header-nav li {
    display: inline-block;
    padding: 2em;
    transition: all 0.2s;
}
.header-nav a {
    color: #FFF;
    text-decoration: none;
    transition: all 0.3s;
}
.header-nav a:hover {
    color: #DDD;
}
.header-information {
    display: flex;
    flex-direction: column;
}
.header-information p {
    color: #ff0081;
    font-weight: bold;
    text-transform: uppercase;
}
.header-user {
    display: flex;
    align-items: center;
}
.header-name,
.header-email {
    text-align: start;
    color: white;
}
.header-action {
    display: flex;
    align-items: center;
}

/* HEADER COMPANY */
.header-company {
    display: flex;
    padding: 2rem;
}