.home-container {
    margin: 7rem 2rem;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 1rem;
    gap: 1rem;
}

.home-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-title {
    text-align: center;
    user-select: none;
    color: #ffffff;
    transition: color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.home-title:hover {
    color: #ff0081;
}

.home-company,
.home-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.home-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    background-color: #171717;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
}

.card-cuit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: .7rem;
    text-transform: uppercase;
    background-color: #ff0081;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    padding: .2rem .5rem;
}

.card-name {
    font-size: 1rem;
    background-color: #ff0081;
    border-top: .3rem;
    padding: 0 4rem .5rem;
    text-transform: uppercase;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card-img {
    margin: .5rem 0;
}

.card-img img {
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ff0081;
}

.card-description {
    width: 10rem;
    margin-top: .5rem;
}

.card-action {
    display: flex;
    gap: 1rem;
}

.card-edit {
    cursor: pointer;
    padding: .5rem;
    border-radius: .1rem;
    background-color: #63d1ff;
    transition: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.card-edit:hover {
    background-color: #3f84a1;
}

.card-delete {
    cursor: pointer;
    padding: .5rem;
    border-radius: .1rem;
    background-color: #d30c0c;
    transition: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.card-delete:hover {
    background-color: #a10d0d;
}

.card-state-green {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5rem 0;
    background-color: #7bbb14;
}

.card-state-red {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    padding: .5rem 0;
    background-color: #e70000;
}
