<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/img/QrPriceTag.png}" sizes="512x512">
    <link rel="stylesheet" th:href="@{/css/layout/header.css}">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/globals.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script src="https://kit.fontawesome.com/c2606052ff.js" crossorigin="anonymous"></script>
    <title>Inicio - QR PRICE TAG</title>
</head>
<body>
    <div class="sidebar-content" th:replace="~{layout/header.html}"></div>
    <main class="home-container">
        <h1
                th:text="${user.getRol().toString() == 'ROLE_ADMIN' ?
                    'Listado de empresas y usuarios' :
                    'Listado de productos'}"
                class="home-title">
        </h1>
        <div class="home-flex">
            <div th:if="${user.getRol().toString() == 'ROLE_ADMIN'}" class="home-company">
                <h2>Empresas</h2>
                <div class="home-cards">
                    <div th:each="company : ${companies}">
                        <div th:replace="~{components/company.html}"></div>
                    </div>
                </div>
            </div>
            <div th:if="${user.getRol().toString() == 'ROLE_GESTOR'}" class="home-products">
                <h2>Productos</h2>
                <div class="home-cards">
                    <div th:replace="~{components/product.html}"></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>