<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/img/QrPriceTag.png}" sizes="512x512">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/globals.css}">
    <script src="https://kit.fontawesome.com/c2606052ff.js" crossorigin="anonymous"></script>
    <title>Registro - QR PRICE TAG</title>
</head>
<body class="align">
    <!-- Contenedor -->
    <div class="grid">
        <!-- Titulo -->
        <h1 class="title">Registrarse</h1>
        <!-- Formulario -->
        <form class="form fields" method="POST" th:object="${user}" th:action="@{/register}">
            <!-- Errores (GENERALES) -->
            <div class="error" th:if="${formError}" th:text="${formError}"></div>
            <!-- Campo (EMAIL) -->
            <div class="field">
                <!-- Errores -->
                <div class="field-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                <!-- Entrada de Datos -->
                <div class="field-content">
                    <label class="label" for="email">
                        <i class="fa-solid fa-envelope"></i>
                    </label>
                    <input autocomplete="email" id="email" type="email" name="email" class="input" placeholder="Email" aria-invalid="false" th:field="*{email}">
                </div>
            </div>
            <!-- Campo (NOMBRE) -->
            <div class="field">
                <!-- Errores -->
                <div class="field-error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                <!-- Entrada de Datos -->
                <div class="field-content">
                    <label class="label" for="nombre">
                        <i class="fa-solid fa-signature"></i>
                    </label>
                    <input autocomplete="nombre" id="nombre" type="text" name="nombre" class="input" placeholder="Nombre" th:field="*{nombre}">
                </div>
            </div>
            <!-- Campo (APELLIDO) -->
            <div class="field">
                <!-- Errores -->
                <div class="field-error" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
                <!-- Entrada de Datos -->
                <div class="field-content">
                    <label class="label" for="apellido">
                        <i class="fa-brands fa-lastfm"></i>
                    </label>
                    <input autocomplete="apellido" id="apellido" type="text" name="apellido" class="input" placeholder="Apellido" th:field="*{apellido}">
                </div>
            </div>
            <!-- Campo (PASSWORD) -->
            <div class="field">
                <!-- Errores -->
                <div class="field-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                <!-- Entrada de Datos -->
                <div class="field-content">
                    <label class="label" for="password">
                        <i class="fa-solid fa-lock"></i>
                    </label>
                    <input id="password" type="password" name="password" class="input" placeholder="Contraseña" th:field="*{password}">
                </div>
            </div>
            <!-- Campo (CONFIRMAR PASSWORD) -->
            <div class="field">
                <!-- Errores -->
                <div class="field-error" th:if="${#fields.hasErrors('confirmarPassword')}" th:errors="*{confirmarPassword}"></div>
                <!-- Entrada de Datos -->
                <div class="field-content">
                    <label class="label" for="RepetirPassword">
                        <i class="fa-solid fa-repeat"></i>
                    </label>
                    <input id="RepetirPassword" type="password" name="RepetirPassword" class="input" placeholder="Repetir Contraseña" th:field="*{confirmarPassword}">
                </div>
            </div>
            <!-- Boton (ENVIAR) -->
            <div class="field">
                <input type="submit" value="Registrarse">
            </div>
        </form>
        <!-- Acciones (REGISTRARSE) -->
        <p class="text--center">¿Ya eres miembro?
            <a class="link" href="/login">Inicia Sesion <i class="fa-solid fa-right-long"></i></a>
        </p>
    </div>
</body>
</html>